ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
    margin: 25px;
}
img {
    background-color: gray;
    border: 1px;
}
.vl {
    border-left: 1px solid gray;
    height: 80px;
    display: inline-block;
}
.listDown {
    width: 250px;
}
.imgDown {
    width:250px;
    height:150px;
}
.paraDown {
    text-align: right;
}